download the data.py
.ipynb_checkpoints
/whisper-*
HF_token.txt
Telegram-bot-token.txt
data_poket_torah
missing_files*.json
__pycache__
/Teamim-*
/download and process the data/slice long data/automatic using WhisperTimeSync/audio.wav


slice_long_data/links_for_audio
slice_long_data/texts_without_cantillations


/audio_files*
/test_srt
/testLLM
missing_filesaudio.json
download and process the data/slice long data/semi automatic cut/text
